.__wrapper {
  padding: 0 var(--input_padding);
  border-radius: var(--input_border_radius);
  background-color: var(--background_block);
}

.__wrapper_in {
  display: flex;
  align-items: center;
  gap: 18px;
}

.__content {
  flex-grow: 1;

  font-size: 14px;
  font-weight: 600px;
  line-height: 17px;

  color: var(--color_input_value);

  outline: none;
  border: none;
  background-color: transparent;

  overflow: hidden;

  padding: var(--input_padding) 0;
  margin: 0;
}

.__after {
  display: flex;
}

.__indicator {
  display: flex;
}

.__disabled {
  opacity: 0.5;
  pointer-events: none;
}
