.__wrapper {
  display: inline-block;
  outline: none;
  border: none;
  padding: 12px;

  position: relative;

  border-radius: var(--buttons_border_radius);

  overflow: hidden;

  height: fit-content;
  margin: 0;
}

.__wrapper:not(.__disabled).__with_hover {
  cursor: pointer;
}

.__wrapper_in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.__before {
  display: flex;
}

.__content {
  display: flex;
}

.__content_in {
}

/* ? mouse events ui handler */

.__wrapper:not(.__disabled):not(.__mode_primary).__with_hover:hover .__overlay {
  background-color: var(--button_hover_background);
}

.__wrapper:not(.__disabled):not(.__mode_primary).__with_hover:active
  .__overlay {
  background-color: var(--button_active_background);
}

.__wrapper:not(.__disabled).__mode_primary.__with_hover:hover .__overlay {
  background-color: var(--button_primary_hover_background);
}

.__wrapper:not(.__disabled).__mode_primary.__with_hover:active .__overlay {
  background-color: var(--button_primary_active_background);
}

.__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all 0.1s linear;
}

/* ? button state */

.__disabled {
  pointer-events: none;
  opacity: 0.5;
}

.__stretched {
  flex: 1;
}

/* ? sizes */

.__size_content {
  height: fit-content;
  width: fit-content;
}

.__size_s {
  min-height: 48px;
}

.__size_s .__content_in {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.__size_m {
  min-height: 53px;
}

.__size_m .__content_in {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.__size_filter {
  min-height: fit-content;
  width: fit-content;
  min-width: 50px;
}

.__size_filter .__content_in {
  font-size: 14px;
  font-weight: 600;
}

.__size_l {
}

/* ? modes */

.__mode_primary {
  background-color: var(--background_primary_button);
}

.__mode_primary .__wrapper_in,
.__mode_primary .__content_in {
  color: var(--color_button_primary);
}

.__mode_secondary {
  background-color: var(--background_block);
}

.__mode_secondary_disabled {
  color: var(--background_primary_button);
  background-color: color-mix(in srgb, var(--background_primary_button), transparent 50%);
}

.__mode_secondary .__wrapper_in {
  color: var(--color_primary_color);
}

.__mode_secondary_with_accent_text {
  background-color: var(--background_block);
}

.__mode_transparent_with_accent_text .__wrapper_in,
.__mode_transparent_with_accent_text .__content_in,
.__mode_secondary_with_accent_text .__wrapper_in,
.__mode_secondary_with_accent_text .__content_in {
  color: var(--accent);
}

.__mode_transparent {
  background-color: transparent;
}

.__mode_transparent_with_accent_text {
  background-color: transparent;
}
