.__wrapper {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.__content {
  opacity: 0;
  width: 0;
  height: 0;
}

.__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background_switch);
  -webkit-transition: 0.4s;
  transition: 0.2s;

  border-radius: 37px;
}

.__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.2s;

  border-radius: 37px;
}

.__content:checked + .__slider:before {
  transform: translateX(17px);
}

/* ? Switch render cases */

.__disabled {
}
