.__buttonGroup {
  display: flex;
}

.__buttonGroup > button {
  min-height: 53px;
}

.__action_text {
  padding: 48px 24px;
}

.__buttonGroup > button:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-width: 0 1px;
  border-color: var(--space_border_color);
  border-style: solid;
}

.__buttonGroup > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.__buttonGroup > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.__buttonGroup_main {
  display: flex;
  gap: 10px;
}

.__buttonGroup_main > button > div {
  flex-direction: column;
}

.__group {
  margin-top: 24px;
}

.__logo_icon {
  width: 24px;
  overflow: visible;
  position: relative;
  left: -6px;
}

.__jetton_with_url_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.__panel_mobile .__balance_group_focused .__buttonGroup,
.__panel_mobile .__balance_group_focused .__action_text {
  display: none;
}

.__panel_mobile .__balance_group_focused,
.__panel_mobile .__balance_group_focused .__button_group {
  row-gap: 0 !important;
}

.__centered_text {
  display: flex;
  width: 100%;
  text-align: center;
  Display: flex;
  justify-content: center;
}