.__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.__wrapper .__block {
  flex: 1 0 calc(50% - 18px);
  flex-basis: calc(50% - 18px);
  max-width: calc(50% - 18px);
  border: 1px solid var(--tg-theme-secondary-bg-color);
  border-radius: 15px;
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 5px;
  color: var(--tg-theme-text-color);
  cursor: pointer;
}

.__wrapper .__block > div:first-child {
  border-radius: 10px;
}
