.__wrapper {
  display: flex;  
  flex-wrap: wrap;
  gap: 1em;
}

.__wrapper .__block {
  flex: 1 0 calc(50% - 18px);
  flex-basis: calc(50% - 18px);
  max-width: calc(50% - 18px);
  border: 1px solid var(--tg-theme-secondary-bg-color);
  border-radius: 15px;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  cursor: pointer;
}

.__wrapper .__block > div:first-child {
  border-radius: 10px;
}

.__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.__button {
  display: "flex";
  flex-Direction: row;
  align-Items: center;
  justify-Content: center;
  width: 100%;
  max-height: 10px;
  margin-top: 20px;
}
