.__wrapper {
  width: 100%;
  height: fit-content;
  background: var(--background_block);

  border-radius: 18px;
  overflow: hidden;
}

.__wrapper > a {
  text-decoration: none;
}

.__wrapper_in {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
}

.__before {
  display: flex;
}

.__content {
  flex-grow: 1;
  overflow: hidden;

  justify-content: flex-start;
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.__content_in {
}

.__content_description {
}

.__content_description .__content_text {
  color: var(--color_gray_color);

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.__content_in .__content_text {
  color: var(--accent);

  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.__after {
  display: flex;
  text-align: end;
  gap: 6px;
  align-items: center;
  overflow: hidden;
}

.__content_text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ? Mouse cases */

.__with_cursor {
  cursor: pointer;
  transition: all 0.1s linear;
}

.__with_cursor:hover {
  background-color: var(--button_primary_active_background);
}

.__with_cursor:active {
  background-color: var(--button_primary_hover_background);
}

/* ? Cell render cases */

.__wrapper:not(.__with_description) .__content_text {
}
