.__astalyx_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.__redoubt_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}