.__wrapper {
  overflow: hidden;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.__wrapper:not(.__load_error) {
  display: inline-block;
}

.__load_error {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background_avatar_fallback);
}

.__load_error > svg {
  color: var(--accent);
}

.__content {
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.__fallback_content {
  text-transform: uppercase;
}

.__type_circle {
  border-radius: var(--avatar_circle_border_radius);
}

.__type_square {
  border-radius: var(--avatar_square_border_radius);
}
