.__wrapper {
  border-radius: var(--avatar_border_radius);
  overflow: hidden;
}

.__wrapper:not(.__load_error) {
  display: inline-block;
}

.__load_error {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background_avatar_fallback);
}

.__content {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.__fallback_content {
  text-transform: uppercase;
}
