.button_group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.block_content {
}

.button_group > button > div {
  flex-direction: column;
}

.block_header_button {
  cursor: pointer;
}

.block_cell:first-of-type:not(:last-of-type) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.block_cell:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

.block_cell:last-of-type:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.__block_header {
  padding: 0 12px;
}
